<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <%= image_tag 'dic_logo.png', size: "220x90"%>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
   </div> <!-- Navbar-header -->

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
       <li><a href="/definitions/new">New Definition</a></li>

         <li><%= form_tag(search_definitions_path, method: "get", :html => {class:"form-inline navbar-form navbar-right"}) do %>

           <div class="form-group">

             <%= text_field_tag :search, nil, placeholder: "Search Definitions",:html => {class:"form-control"} %>
             <%= submit_tag "Search", class:"buttons"%>

         <% end %></li>

       </div>
       </ul>
   </div> <!-- Navbar-collapse -->


 </div> <!--Container-fluid -->
</nav>
