/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  margin: 0;
}
.navbar ul {
  margin-top: 15px;
}
.nav > li > a {
  margin-top: 10px;
  margin-right: 20px;
  padding: 5px 0;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
  text-align: center;
  color: #fff;

}
.navbar-default .navbar-nav > li > a:hover {
  display: inline-block;
  margin-bottom: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}
 .navbar-default{
   background-color: #281805;
   min-height: 80px;
   margin-bottom: 0;
   border: none;
 }
 .navbar-nav {
   border: none;
 }
.navbar {
  border-radius: 0;
}
textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(252, 201, 99, 0.8);
    box-shadow: 0 1px 1px rgba(252, 201, 99, 0.075) inset, 0 0 8px rgba(252, 201, 99, 0.6);
    outline: 0 none;
}
.panel {
  margin: 20px;
  border-left: 5px solid #F58020;
}
.wrapper {
  overflow: hidden;
  margin: 0;
}
label {
  display: inline-block;
  width: 100px;
}
form {
  display: inline-block;
  padding: 10px 10px;
  line-height: 25px;
}
form > h2 {
  margin-bottom: 50px;
}
.signup {
  margin: 10px 0;
}

.center {
  text-align: center;
}
.panel-body {
  background-color: #fff;
}
