/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

.nav > li > a {
  padding: 5px 10px;
}
.navbar-default .navbar-nav > li > a {
  color: #281805;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  border: 1px solid #E6E5E0;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #EDECE7;
  background-color: #281805;
  border-radius: 5px;
  border: 1px solid #281805;
  display: inline-block;
}
 .navbar-default  {
   background-image: url('/assets/background_book.png');
   background-size: cover;
   background-position: 0 -300px;
   background-attachment: fixed;
   border-bottom: solid 2px #2d434c;
   min-height: 420px;
   box-shadow: 0 2px 3px #38474E;
 }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(40, 24, 5, 0.8);
    box-shadow: 0 1px 1px rgba(40, 24, 5, 0.075) inset, 0 0 8px rgba(40, 24, 5, 0.6);
    outline: 0 none;
}
.panel {
  margin: 20px;
  border-left: 5px solid #94CE5F;
}
.wrapper {
  overflow: hidden;
}
label {
  display: inline-block;
  width: 100px;
}
form {
  display: inline-block;
  padding: 10px 10px;
  line-height: 25px;
}
