// Place all the styles related to the definitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  padding: 20px 0;
}
footer {
  background-color: #94CE5F;
  height: 100px;
  padding-top: 20px;
  border-top: solid 2px #DEDEDE;
  clear: both;
  margin-top: 50px;
}

.example {
  font-style: italic;
  color: gray;
  padding: 5px 0 10px 0;
}
.part_of_speech {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
.word {
  font-size: 20px;
  color: #94CE5F;
  font-weight: bold;
}
.edit_buttons {
  float: right;
}
.edit_buttons > a:hover {
  color: #94CE5F;
  text-decoration: none;
}
.sidebar {
  border-left: 5px solid #eee;
  color: #281805;
}
.sidebar > h2 {
  text-align: center;
}
