// Place all the styles related to the definitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  padding: 20px 0;
}
footer {
  background-color: #281805;
  height: 100px;
  padding-top: 20px;
  border-top: solid 2px #DEDEDE;
  clear: both;
  margin-top: 50px;
  color: #fff;
}
ul {
  list-style: none;
  text-align: center;
}
.example {
  font-style: italic;
  color: gray;
  padding: 5px 0 10px 0;
}
.part_of_speech {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
.word {
  font-size: 20px;
  color: #F58020;
  font-weight: bold;
}
.edit_buttons {
    float: right;
}
.edit_buttons > a{
  color: #565656;
}
.edit_buttons > a:hover {
  color: #F58020;
  text-decoration: none;
}
.sidebar {
  border-left: 5px solid #eee;
  color: #281805;
}
.sidebar > h2 {
  text-align: center;
}
.add_form {
  margin-left: 50px;
}
.show_word {
  padding: 25px 0;
}
.show_word > p {
  padding: 10px 0;
}
.buttons {
  text-align: center;
  background-color: #281805;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
}
.buttons:hover {
  text-align: center;
  border: 1px solid #F58020;
  background-color: #F58020;
  color: #fff;

}
.not_found {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 300px;
  font-style: italic;
}
.header_img {
  position: relative;
  height: auto;
  margin-bottom: 20px;
}
.full_img {
  width: 100%;
}
.titles {
  margin-bottom: 40px;
  font-family: "Georgia", serif;
  font-weight: bold;
  text-align: center;
  color: #565656;
}
.standalone {
  padding: 10px 15px;
  text-decoration: none;
}
.standalone:hover {
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #fff;
  background-color: #F58020;
  color: #fff;

}
