// Place all the styles related to the definitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 20px;
  background-color: #f9fafa;
}
h1 {
  color: #6CBCB8;
  padding-bottom: 20px;
}
a{
  color: #38474E;
  background-color: #E3E7E9;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #38474E;
  text-decoration: none;
  font-size: 10px;
}
a:visited {
  color: #38474E;
}
a:hover {
  color: #E3E7E9;
  background-color: #38474E;
  box-shadow: none;
}
a:active {
  color: #38474E;
}
table {
  border-top: 2px #E3E7E9 solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

thead {
  th {
  color: #1F2F38;
  padding: 10px 80px 10px 0;
  font-style: italic;
  }
}

tbody {
  th {
    padding-bottom: 10px;
  }
  td {
    padding: 5px 10px 8px 0;
    border-bottom: 1px solid #E3E7E9;
  }
}
form {
  padding-bottom: 20px;
}
